{% set sectionclass = page.header.bgcolor ? '': 'bg-gray' %}

<section class="{{ page.header.customclass ? page.header.customclass : sectionclass }}">
  <div class="container page-custom">
    <h1>{{ page.header.title }}</h1>
    {{ content }}
  </div>
</section>
